
.cls-1 {
fill: #006595;
}

.cls-2 {
fill: #e12f44;
}

.cls-3 {
font-size: 120px;
font-weight: bold;
font-family: fantasy;
}

.cls-4 {
fill: #ffffff;
}

.cls-3{
fill: #1f140f;
}

.cls-5 {
fill: #e7e6e5;
}

.cls-6 {
fill: #c7c7c8;
}

.cls-7 {
fill: #6d818b;
}

.cls-8 {
fill: #dcc193;
}

.cls-9 {
fill: #00739f;
}

.cls-4 {
font-size: 130px;
}

.cls-44{
    font-size: 220px;
}